.register-main {
    width: 100%;
    height: auto;
    margin-top: 70px;
    .register-title {
        max-width: 1180px;
        width: 100%;
        font-size: 30px;
        margin: 0 auto;
        padding: 40px 0;
        color: #111;
    }
    .form {
        max-width: 1180px;
        width: 100%;
        margin: 40px auto 100px auto;
        &-item {
            width: 100%;
            margin: 20px 0;
            .label {
                display: block;
                font-size: 25px;
                text-align: left;
                margin-bottom: 10px;
            }
            input {
                display: block;
                max-width: 470px;
                width: 100%;
                font-size: 20px;
                padding: 5px;
                border: 2px solid #111;
            }         
            .pull-down {
                display: block;
                max-width: 150px;
                width: 100%;
                font-size: 25px;
                border: 2px solid #111;
            }
        }
        .radio {
            &-btn {
                display: inline-block;
                max-width: 100px;
                height: 25px;
            }
            .gender-label {
                font-size: 25px;
            }
        }
    }
}
