.modal {
    position: relative;
    width: 100%;
    display: none;
    opacity: 0;
    z-index: 9999;
    transition: all 0.4s ease;
    &.open {
        display: block;
    }
    .modal-wrap {
        position: fixed;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        z-index: 9999;
        .section-title {
            color: #fff;
            padding: 0;
            margin-bottom: 20px;
        }
        .modal-box {
            .login-form {
                width: 100%;
                height: 400px;
                background-color: #eee;
                padding: 60px 50px 50px 50px;
                text-align: center;
                border-radius: 20px;
                position: relative;
                input {
                    color: #8a8a8a;
                    display: block;
                    width: 100%;
                    margin: 20px auto;
                    padding: 10px 20px;
                    font-size: 105%;
                    border: 1px solid #ccc;
                    border-radius: 27px;
                }
                .close-btn {
                    position: absolute;
                    top: 0;
                    right: 40px;
                    display: inline;
                    cursor: pointer;
                    font-size: 50px;
                }
                .modal-text {
                    text-align: left;
                    margin-bottom: 20px;
                    text-decoration: underline;
                    transition: all 0.4s;
                    &:hover {
                        opacity: 0.7;
                    }
                }
                .submit {
                    max-width: 200px;
                    width: 200px;
                    padding: 10px;
                    margin-bottom: 10px;
                    color: #fff;
                    background-color: #5a5a5a;
                    border: 1px solid #5a5a5a;
                    border-radius: 27px;
                    transition: all 0.4s;
                    &:hover {
                        color: #5a5a5a;
                        background-color: #eee;
                    }
                }
                .register-link {
                    text-align: left;
                    transition: all 0.4s;
                    &:hover {
                        opacity: 0.7;
                    }
                    a {
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .modal-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #222;
        opacity: 0.7;
        z-index: 9999;
    }
}
.login-wrapper {
    max-width: 600px;
    width: 100%;
    height: 300px;
    margin: 150px auto 0 auto;
    padding: 50px;
    text-align: center;
    background-color: #ffa500;
    border-radius: 10px;
    filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.6));
    &-title {
        color: #fff;
        font-size: 25px;
        font-family: "Sawarabi Gothic";
        margin-bottom: 100px;
    }
    &-mypage {
        color: #fff;
        padding: 13px;
        margin: 0 20px;
        font-family: "Sawarabi Gothic";
        border: 2px solid #fff;
        border-radius: 20px;
    }
    &-home {
        color: #fff;
        padding: 13px;
        margin: 0 20px;
        font-family: "Sawarabi Gothic";
        border: 2px solid #fff;
        border-radius: 20px;
    }
}
