@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
body {
  color: #111;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-weight: 500;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
}

.section-title {
  display: inline-block;
  font-size: 32px;
  font-family: "メイリオ";
  letter-spacing: 5px;
  padding-top: 50px;
  position: relative;
}

.section-title::after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ddd;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.section-title:hover::after {
  bottom: -3px;
  opacity: 1;
  visibility: visible;
}

.section-category {
  color: #555;
  font-size: 18px;
}

@media print, screen and (min-width: 768px) {
  ._sp {
    display: none;
  }
}

._pc {
  display: none;
}

@media print, screen and (min-width: 768px) {
  ._pc {
    display: block;
  }
}

/*!
 * ress.css • v4.0.0
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
  color: inherit;
  /* Correct border color in Firefox. */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0;
  /* Remove text indentation in Chrome, Edge, and Safari */
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type='search'] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type='button'],
[type='reset'],
[type='submit'],
[role='button'] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy='true'] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled='true'] {
  cursor: default;
}

.footer {
  width: 100%;
  height: 90px;
  background-color: #ccc;
  text-align: center;
}

.footer .copy-right {
  line-height: 90px;
}

.top-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 9000;
}

.top-header-inner {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 70px;
  line-height: 75px;
}

.top-header-inner .top-header-logo {
  font-size: 30px;
  font-family: "M PLUS Rounded 1c";
  position: relative;
}

.top-header-inner .top-header-logo::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 0%;
  height: 2px;
  background-color: #eff;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.top-header-inner .top-header-logo:hover::after {
  width: 100%;
}

.top-header-inner .top-header-logo .top-logo-text {
  color: #eff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.top-header-inner .top-header-logo .top-logo-text.change {
  color: #111;
}

.top-header-inner .top-header-nav .top-nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.top-header-inner .top-header-nav .top-nav-list .top-list-item {
  width: 100px;
  font-size: 18px;
  text-align: center;
  margin: 0 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.top-header-inner .top-header-nav .top-nav-list .top-list-item:hover {
  opacity: 0.8;
  border-bottom: 2px solid #eff;
}

.top-header-inner .top-header-nav .top-nav-list .top-list-item .item-btn {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  color: #eff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.top-header-inner .top-header-nav .top-nav-list .top-list-item .item-btn.change {
  color: #111;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #252804;
  z-index: 9000;
}

.header-inner {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 70px;
  line-height: 75px;
}

.header-inner .header-logo {
  font-size: 30px;
  font-family: "M PLUS Rounded 1c";
  color: #eff;
  position: relative;
}

.header-inner .header-logo::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 0%;
  height: 2px;
  background-color: #eff;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-inner .header-logo:hover::after {
  width: 100%;
}

.header-inner .header-logo a {
  color: #eff;
}

.header-inner .header-nav .nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.header-inner .header-nav .nav-list .list-item {
  width: 100px;
  font-size: 18px;
  text-align: center;
  margin: 0 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-inner .header-nav .nav-list .list-item:hover {
  opacity: 0.8;
  border-bottom: 2px solid #eff;
}

.header-inner .header-nav .nav-list .list-item .item-btn {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  color: #eff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header-inner .header-nav .nav-list .list-item .item-btn.change {
  color: #111;
}

.main {
  width: 100%;
}

.main-visual {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.main-visual-wrapper {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 70px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-visual-wrapper .main-visual-title {
  color: #eee;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 3px;
}

.main-visual-wrapper .main-visual-text {
  color: #eee;
  font-size: 30px;
  font-weight: normal;
  margin: 30px 0 100px 0;
}

.main-visual-wrapper .main-visual-btn {
  color: #eee;
  font-size: 20px;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.main-visual-wrapper .main-visual-btn:hover {
  color: #111;
  background-color: #fff;
}

.register-main {
  width: 100%;
  height: auto;
  margin-top: 70px;
}

.register-main .register-title {
  max-width: 1180px;
  width: 100%;
  font-size: 30px;
  margin: 0 auto;
  padding: 40px 0;
  color: #111;
}

.register-main .form {
  max-width: 1180px;
  width: 100%;
  margin: 40px auto 100px auto;
}

.register-main .form-item {
  width: 100%;
  margin: 20px 0;
}

.register-main .form-item .label {
  display: block;
  font-size: 25px;
  text-align: left;
  margin-bottom: 10px;
}

.register-main .form-item input {
  display: block;
  max-width: 470px;
  width: 100%;
  font-size: 20px;
  padding: 5px;
  border: 2px solid #111;
}

.register-main .form-item .pull-down {
  display: block;
  max-width: 150px;
  width: 100%;
  font-size: 25px;
  border: 2px solid #111;
}

.register-main .form .radio-btn {
  display: inline-block;
  max-width: 100px;
  height: 25px;
}

.register-main .form .radio .gender-label {
  font-size: 25px;
}

.favorite {
  width: 100%;
  height: 720px;
  background-color: #eee;
  text-align: center;
}

.favorite .section-title {
  font-size: 32px;
  color: #000;
}

.favorite .section-title::after {
  background-color: #222;
}

.modal {
  position: relative;
  width: 100%;
  display: none;
  opacity: 0;
  z-index: 9999;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.modal.open {
  display: block;
}

.modal .modal-wrap {
  position: fixed;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: 9999;
}

.modal .modal-wrap .section-title {
  color: #fff;
  padding: 0;
  margin-bottom: 20px;
}

.modal .modal-wrap .modal-box .login-form {
  width: 100%;
  height: 400px;
  background-color: #eee;
  padding: 60px 50px 50px 50px;
  text-align: center;
  border-radius: 20px;
  position: relative;
}

.modal .modal-wrap .modal-box .login-form input {
  color: #8a8a8a;
  display: block;
  width: 100%;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 105%;
  border: 1px solid #ccc;
  border-radius: 27px;
}

.modal .modal-wrap .modal-box .login-form .close-btn {
  position: absolute;
  top: 0;
  right: 40px;
  display: inline;
  cursor: pointer;
  font-size: 50px;
}

.modal .modal-wrap .modal-box .login-form .modal-text {
  text-align: left;
  margin-bottom: 20px;
  text-decoration: underline;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.modal .modal-wrap .modal-box .login-form .modal-text:hover {
  opacity: 0.7;
}

.modal .modal-wrap .modal-box .login-form .submit {
  max-width: 200px;
  width: 200px;
  padding: 10px;
  margin-bottom: 10px;
  color: #fff;
  background-color: #5a5a5a;
  border: 1px solid #5a5a5a;
  border-radius: 27px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.modal .modal-wrap .modal-box .login-form .submit:hover {
  color: #5a5a5a;
  background-color: #eee;
}

.modal .modal-wrap .modal-box .login-form .register-link {
  text-align: left;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.modal .modal-wrap .modal-box .login-form .register-link:hover {
  opacity: 0.7;
}

.modal .modal-wrap .modal-box .login-form .register-link a {
  font-size: 20px;
}

.modal .modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #222;
  opacity: 0.7;
  z-index: 9999;
}

.login-wrapper {
  max-width: 600px;
  width: 100%;
  height: 300px;
  margin: 150px auto 0 auto;
  padding: 50px;
  text-align: center;
  background-color: #ffa500;
  border-radius: 10px;
  -webkit-filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.6));
}

.login-wrapper-title {
  color: #fff;
  font-size: 25px;
  font-family: "Sawarabi Gothic";
  margin-bottom: 100px;
}

.login-wrapper-mypage {
  color: #fff;
  padding: 13px;
  margin: 0 20px;
  font-family: "Sawarabi Gothic";
  border: 2px solid #fff;
  border-radius: 20px;
}

.login-wrapper-home {
  color: #fff;
  padding: 13px;
  margin: 0 20px;
  font-family: "Sawarabi Gothic";
  border: 2px solid #fff;
  border-radius: 20px;
}

.post {
  width: 100%;
  margin-top: 100px;
}

.search {
  width: 100%;
  margin-top: 100px;
}

.mypage-wrapper {
  width: 100%;
  height: 800px;
}

.mypage-wrapper .acount-inner {
  width: 100%;
  height: 300px;
  background-color: antiquewhite;
  padding-top: 70px;
  position: relative;
}

.mypage-wrapper .acount-inner .acount-data {
  position: absolute;
  top: 75%;
  left: 25%;
  max-width: 700px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.mypage-wrapper .acount-inner .acount-data-icon {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.mypage-wrapper .acount-inner .acount-data-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.mypage-wrapper .acount-inner .acount-data-text-name {
  font-size: 30px;
  font-weight: normal;
}

.recommend {
  width: 100%;
  margin: 0 auto;
}

.about {
  width: 100%;
  height: 710px;
  text-align: center;
  padding-top: 50px;
}

.about-title {
  font-size: 35px;
  font-weight: normal;
  margin-bottom: 20px;
}

.about-explanation {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  margin-bottom: 70px;
}

.about .contents-wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .contents-wrapper .about-contents {
  max-width: 300px;
  width: 100%;
  margin: 0 20px;
}

.about .contents-wrapper .about-contents-img {
  max-width: 120px;
  width: 100%;
}

.about .contents-wrapper .about-contents-title {
  font-size: 25px;
  margin: 20px 0;
}

.about .contents-wrapper .about-contents-text {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
/*# sourceMappingURL=style.css.map */